[req]
distinguished_name  = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = CN
ST = Guandong
L = Shenzhen
O = Martin Meissner
OU = Leap Auth Service
CN = RootAuthority

[v3_req]
basicConstraints = CA:true
keyUsage = critical, keyCertSign

[ CA_default ]
copy_extensions = copy