[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = State
L = City
O = Example Org
OU = Example Services
CN = api.example.com

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = connect.example.com
DNS.2 = client-srv-01.example.com
DNS.3 = shell.example.com
