<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="f1"
            fileName="${specialfolder:folder=ApplicationData}/LeapPlay/logs/cc_current.log"
            layout="${longdate} |${uppercase:${level}} |${threadname} |${logger}| ${threadid} |${callsite} |${message} |${exception} |${stacktrace}"
            keepFileOpen="true"
            concurrentWrites="false"
            archiveFileName="${specialfolder:folder=ApplicationData}/LeapPlay/logs/cc_archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />
    <target name="n1"
            xsi:type="NLogViewer"
            includeSourceInfo="true"
            address="udp://192.168.2.58:10000" />
    <target name="n2"
            xsi:type="NLogViewer"
            includeSourceInfo="true"
            address="udp://192.168.2.64:9999" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="f1,n1,n2" />
  </rules>
</nlog>