@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password ?";
}
<div class="row">
    <div class="col-md-4">
        @if(!Model.IsEmailSend)
        {
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control"/>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Send Reset E-Mail</button>
            </form>
        }
        else
        {
            <p>An E-Mail has been send to you to reset your Password!</p>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
