<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net462" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net462" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net462" />
  <package id="Humanizer.Core" version="2.2.0" targetFramework="net462" />
  <package id="Humanizer.Core.zh-CN" version="2.2.0" targetFramework="net462" />
  <package id="LiveCharts" version="0.9.6" targetFramework="net462" />
  <package id="LiveCharts.Wpf" version="0.9.6" targetFramework="net462" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="SciChart.Wpf.UI.Transitionz" version="1.0.5" targetFramework="net462" />
  <package id="SimpleInjector" version="4.2.2" targetFramework="net471" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.PlatformServices" version="4.1.5" targetFramework="net471" />
  <package id="System.Reactive.Windows.Threading" version="4.1.5" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net462" />
  <package id="Windows7APICodePack-Core" version="1.1.0.0" targetFramework="net471" />
  <package id="Windows7APICodePack-Shell" version="1.1.0.0" targetFramework="net471" />
  <package id="WPFLocalizeExtension" version="3.1.2" targetFramework="net462" />
  <package id="XAMLMarkupExtensions" version="1.3.0" targetFramework="net462" />
  <package id="ZKWeb.System.Drawing" version="4.0.0" targetFramework="net462" />
</packages>