<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
            name="release"
            fileName="${specialfolder:folder=ApplicationData}/LeapPlay/logs/sh_current.log"
            layout="${longdate} |${uppercase:${level}} |${threadname} |${logger}| ${threadid} |${callsite} |${message} |${exception:format=tostring} |${stacktrace}"
            keepFileOpen="true"
            concurrentWrites="false"
            archiveFileName="${specialfolder:folder=ApplicationData}/LeapPlay/logs/sh_archive.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="release" />
  </rules>
</nlog>